# Flask
instance/
.webassets-cache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# SQLite
#*.db

# Vue/Frontend
dist/
node_modules/
.gemini/

check_*.py
backups/
debug/
dump_*sql
migrated.db
*copy.db
